.button{
    height: 36px;
    padding: 0px 14px 0px 14px;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    background-color: #2ca01c;
    box-sizing: unset;
    display: inline-block;
    cursor: pointer;
    min-width: 75px;
}

.button:hover{
    background-color: #35bf22;
}

button.button:active{
    background-color: #2ca01c;
}