@import url("../css/base/button.css");
@import url("../css/base/combobox.css");
@import url("../css/base/icon.css");
@import url("../css/base/table.css");
@import url("../css/base/witdth.css");
@import url("../css/base/text-box.css");
@import url("./layout/header.css");
@import url("./layout/menu.css");
@import url("./layout/content.css");
@import url("../css/base/popup.css");
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

@font-face {
    font-family: MISANotoSans-Bold;
    src: url("../content/font/notosans-bold.3ede5aff.woff2");
}

@font-face {
    font-family: MISANotoSans-Italic;
    src: url("../content/font/notosans-italic.1c1aaac9.woff2");
}

@font-face {
    font-family: MISANotoSans;
    src: url("../content/font/notosans-regular.2cb88a13.woff2");
}

@font-face {
    font-family: MISANotoSans-Semiblod;
    src: url("../content/font/notosans-semibold.df3e6dc4.woff2");
}

body {
    position: relative;
    font-family: MISANotoSans;
    font-size: 13px;
}